.menu-appear-content 
{
    transition: 1s !important;
    opacity: 1 !important;
}
.menu-disappears-content
{
    transition: 0.3s;
    opacity: 0 !important;
}
.menu-open
{
    width: 250px !important;
}
.menu-close
{
    width: 0 !important;
}